
<% @questions.each do |question| %>
   <h4>Question:-</h4><%= question.name %>
     <% question.answers.each do |answer| %>
	     <% @submits.each do |s| %>
		       <% if answer.option == s.disabled && answer.id == s.answer_id %>
                     
		            <strong>Answer:-</strong> <%= answer.ans %>
                 
		       <%end%>
	     <%end%>
   <%end%>
<%end%>